@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/cocogoose');

:root {
  --cslight: #d3d3d3;
  --csdark: #272a31;
  --csred: #ec5242;
}

body {
  background-color: #efefef;
}

hr:not([size]) {
  height: 0.1rem;
}

.menu-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='square' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.nav-link {
  font-family: lato, Arial, Helvetica, sans-serif;
  color: var(--csdark);
  font-size: 0.8rem;
  font-weight: bolder;
}

.title-catchphrase {
  color: var(--csred);
  font-family: Lato, Arial, Helvetica, sans-serif;
}

.title-header {
  color: var(--csred);
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.date-header {
  font-family: cocogoose, Arial, Helvetica, sans-serif;
  color: var(--csdark);
}

.p-home-header {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: var(--csdark);
}

.main-program-header {
  color: var(--cslight);
  font-family: lato, Arial, Helvetica, sans-serif;
}

.header-underline {
  width: 4rem;
  background-color: var(--csred);
  opacity: 100%;
}

.bootstrap-card {
  background-color: rgba(150, 150, 150, 0.3);
}

.card-main-image {
  width: 5rem;
  height: 5rem;
}

.card-main-title {
  color: var(--csred);
  font-family: cocogoose, Arial, Helvetica, sans-serif;
}

.card-main-text {
  color: var(--cslight);
  font-size: 0.7rem;
  font-weight: 600;
}

.join-button,
.join-button:hover {
  background-color: var(--csred);
  border-color: var(--csred);
}

.whole-program-link {
  color: var(--cslight);
  font-family: lato, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  margin: 4rem 0 4rem 0;
}

.main-header-dark {
  color: var(--csdark);
  font-family: lato, Arial, Helvetica, sans-serif;
}

.card-speakers-title {
  color: var(--csdark);
  font-family: cocogoose, Arial, Helvetica, sans-serif;
}

.card-speakers-subtitle {
  color: var(--csred);
  font-size: 0.9rem;
}

.card-speakers-underline {
  color: var(--csdark);
  width: 2rem;
}

.card-speakers-text {
  color: var(--csdark);
  font-family: lato, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 0.8rem;
}

.card-speakers-image {
  height: 10rem;
}

.more-button {
  border: 2px solid var(--cslight);
  font-family: lato, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 0.9rem;
}

.down-arrow {
  transform: rotate(90deg);
  height: 0.8rem;
  width: 0.8rem;
}

@media screen and (min-width: 768px) {
  .main-program-row {
    width: 80%;
  }
}
